
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}


h1, h2 {
    color: #000;
    border-left: 5px solid #000;
    padding-left: 10px;
}

.logo {
    width: 120px;
    height: auto; 
}

header {
    background: #1b1919f3;
    color: white;
    padding: 0.2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-group {
    display: flex;
    align-items: center;
}


section {
    padding: 4rem 2rem;
    max-width: 1200px;
    margin: auto;
    position: relative;
}

header h1 {
    font-size: 1.5rem;
    padding-right: 100px;
    margin-right: 28rem; 
    color: white;
}

.menu-toggle {
    display: none;
}

.burger {
    font-size: 24px;
    display: none; 
    cursor: pointer;
    color: white;
    z-index: 1001; 
}

.menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 15px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    margin-left: 0.5rem;
    text-decoration: none;
    font-weight: 600;
    padding: 8px; 
    display: block; 
}

.menu a:hover {
    background-color: #494949ad;
    border-radius: 10px;
}



footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 2rem;
}



@media (max-width: 768px) {
    .burger {
        display: block;
        position: absolute; 
        top: 55px;
        right: 3.5rem; 
        z-index: 1001; 
        color: #a8a6a6; 
    }

    header {
        flex-direction: row; 
        text-align: left;
        padding: 1rem; 
        justify-content: space-between; 
    }

   header h1 {
        display: block; 
        margin:  -20px; 
        padding: 1;
        font-size: 1.2rem;
    }
    
    .logo-group { margin-right: 0; }
    

    .menu {
        position: fixed; top: 0; 
        right: -200px; 
        width: 200px;  
        height: 100%; background: #1b1919;
        flex-direction: column; justify-content: flex-start; align-items: flex-start;
        padding-top: 60px; transition: right 0.3s ease-in-out; z-index: 1000;
        box-shadow: -2px 0 5px rgba(0,0,0,0.5); display: flex; 
    }
    
    .menu-toggle:checked ~ .navbar .menu {
        right: 0; 
    }

    .menu a { padding: 1rem; border-top: 1px solid #333; }
    

    section { padding: 2rem 1rem; }
    footer { padding: 1.5rem 1rem; font-size: 0.9rem; }
}